<ol class="breadcrumb">
    <li class="breadcrumb-item active mr-auto">Steps</li>
    <%= render '/partials/breadcrumb/add', model: Step %>
    <%= render '/partials/breadcrumb/search' %>
</ol>
<step-cards :cards="<%= @steps.to_json() %>" :more="<%= @steps_count > @steps.length %>" :limit="<%= @limit %>" :offset="<%= @offset %>" search="<%= @search %>"></step-cards>