<ol class="breadcrumb">
    <li class="breadcrumb-item active mr-auto">Steps</li>
    <%= render '/partials/breadcrumb/add', model: Step %>
    <%= render '/partials/breadcrumb/search' %>
</ol>
<% if @steps.empty? %>
<no-items model="Step" search="<%= @search %>" url="<%= new_step_path %>"></no-items>
<% else %>
<grid-cards card="step-card" url="<%= steps_path(format: :json) %>" :limit="<%= @limit %>" :offset="<%= @offset %>" search="<%= @search %>" :more="<%= @steps_count > @steps.length %>" :cards="<%= @steps.to_json() %>"></grid-cards>
<% end %>