<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Steps", steps_path %></li>
  <li class="breadcrumb-item active mr-auto"><%= @step.id %></li> 
</ol>
<div class="card shadow-sm">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p class="font-weight-bold">Name</p>
      <p class="font-weight-normal"><%= @step.name %></p>
    </li>
    <li class="list-group-item">
      <p class="font-weight-bold">Description</p>
      <p class="font-weight-normal"><%= @step.description %></p>
    </li>
    <li class="list-group-item">
      <p class="font-weight-bold">Ordinal</p>
      <p class="font-weight-normal"><%= @step.ordinal %></p>
    </li>
  </ul>
</div>