<!DOCTYPE html>
<html lang="en">

<head>
    <%= render 'partials/metatags' %>
</head>

<body class="<%= body_class(params) %>">
    <div id="app" class="container mt-4">
        <nav class="d-block">
            <%= render 'partials/navbar' %>
        </nav>
        <div class="container-fluid">
            <div class="p-3 p-md-4 p-lg-5">
                <%= render 'partials/messages' %>
                <alert-messages></alert-messages>
                <%= yield %>
            </div>
        </div>
    </div>
    <%= render 'partials/modal' %>
    <%= render 'partials/styles' %>
    <%= render 'partials/javascripts' %>
    <%= render 'partials/analytics' %>
</body>

</html>